.data-display {
  color: inherit;
  background-color: inherit;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-display h2 {
  color: #d6d6d6;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Additional styles for the bar chart component */
.chart-container svg {
  width: 100%;
  height: 250px;
  /* Adjust height as needed */
  margin-right: 20px;
}


.data-display .data-lists {
  margin-top: 20px;
}

.data-display .data-lists h3 {
  margin-top: 15px;
  color: #333;
}

.data-display ul {
  list-style-type: none;
  padding: 0;
}

.data-display li {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.data-display .chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-display .chart-full-width {
  width: 100%;
}

.data-display .chart-half-width {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.data-display .chart-half-width > div {
  width: calc(50% - 10px); /* Adjust the spacing between charts */
}
