/* index.css */
:root {
  --background-color: #0c0c0c; /* Darker background color */
  --text-color: #cccccc; /* Soft white for text */
  --accent-color: #2f7947;
  --border-color: #ffffff; /* White for borders */
  --input-height: 50px; /* Standard input height */
  --content-width: 1000px; /* Standard page width */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
