@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

body {
  background-color: #0c0c0c; /* Dark background color */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full viewport height */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; /* For positioning the :before element */

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, transparent 24%, rgba(0, 255, 0, 0.2) 25%, rgba(3, 47, 3, 0.2) 26%, transparent 27%, transparent),
                linear-gradient(90deg, transparent 24%, rgba(21, 106, 8, 0.2) 25%, rgba(3, 42, 3, 0.2) 26%, transparent 27%, transparent),
                linear-gradient(0deg, rgba(12, 12, 12, 1) 1px, transparent 1px),
                linear-gradient(90deg, rgba(12, 12, 12, 1) 1px, transparent 1px);
    background-size: 40px 40px, 40px 40px, 10px 10px, 10px 10px;
    animation: moveGrid 10s linear infinite;
    z-index: -1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
